/* Paste this inside your style.css */
[data-theme=dracula] {
    --p: 255 121 198;
    --pf: 255 121 198;
    --pc: 40 42 54;
    --s: 189 147 249;
    --sf: 189 147 249;
    --sc: 40 42 54;
    --a: 80 250 123;
    --af: 80 250 123;
    --ac: 40 42 54;
    --n: 68 71 90;
    --nf: 68 71 90;
    --nc: 248 248 242;
    --b1: 40 42 54;
    --b2: 68 71 90;
    --b3: 68 71 90;
    --bc: 248 248 242;
    --in: 139 233 253;
    --su: 80 250 123;
    --wa: 255 184 108;
    --er: 255 85 85;
  }
  